$lightblue: #56BBF1;
$blue: #4c49e2;
$green: #42b983;
$black: #2c3e50;
$red: red;
$secondary: #959595;
$orange: #E45826;
// $body: #f3f3f3;

$box-shadow: 0px 0px 16px -4px #0000001a;

$border-radius: .5em;